[telegram]
name = logbook_demo_bot
token = abc
code = abc

[api]
host = api.logbook.com
token = abc123

[settings]
logging_level = ERROR
language = en_GB
site = http://logbook.com

[project]
path = /srv/www/logbook-bot
git_repository = github.com:sybrex/logbook-bot.git
git_key = '~/.ssh/github-deployer'
systemd_service = logbook-bot
username = deployer